// _fonts.scss

@font-face {
    font-family: 'Domaine Display';
    src: url(fonts/ddp-b.otf);
}
@font-face {
    font-family: 'Apercu';
    src: url(fonts/a-l.otf);
    font-weight: 100;
}
@font-face {
    font-family: 'Apercu';
    src: url(fonts/a-b.otf);
    font: bold;
}
